footer.footer
  .container
    .footer__body
      a.footer__logo(href='')
        img(src='../assets/img/logo-footer.png' alt='')
      nav.footer__menu
        ul.footer__list
          li
            a.footer__link(href='') Home
          li
            a.footer__link(href='') Facebook
          li
            a.footer__link(href='') Linkedin
          li
            a.footer__link(href='') Contact
      .footer__text &copy; 2015. All Rights Reserved 
